html {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#playGround {
    width: 100%;
    text-align: center;
}

.sudoku {
    display: inline-table;
    border: 2px solid;
    border-spacing: 1px;
}

.sudoku td {
    border: 1px solid;
    width: 1.5rem;
    height: 1.5rem;
}

.sudoku td.top {
    border-top: 2px solid;
}

.sudoku td.bottom {
    border-bottom: 2px solid;
}

.sudoku td.left {
    border-left: 2px solid;
}

.sudoku td.right {
    border-right: 2px solid;
}

.sudoku input {
    width: inherit;
    height: inherit;
    padding: 0;
    text-align: center;
    color: brown;
    background: none;
}

.sudoku .marked {
    background-color: #9ce29c;
}

.sudoku .mistake {
    background-color: darksalmon;
}

.timer .display {
    margin: 2em;
}